@model Hotel
@{
    ViewData["Title"] = "Hotel Details";
}
<h2>Hotel Details</h2>

<dl class="row">
    <dt class="col-sm-3">编号</dt>
    <dd class="col-sm-9">@Model.HotelId</dd>

    <dt class="col-sm-3">酒店名称</dt>
    <dd class="col-sm-9">@Model.HotelName</dd>

    <dt class="col-sm-3">酒店描述</dt>
    <dd class="col-sm-9">@Model.Description</dd>
</dl>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.HotelId" class="btn btn-warning">编辑</a>
    <a asp-action="Index" class="btn btn-secondary">返回</a>
</div>
